<my-menu></my-menu>




<section id="main-content">
    <article class="content">

      <div class="bs-docs-section" *ngIf="activateGetAll">

        <a (click)="functionOpenForm()" class="">Agregar</a>
        <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre(s)</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>E-mail</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemAlumnos of objAllModel">
                    <th>{{itemAlumnos.pk}}</th>
                    <td>{{itemAlumnos.name}}</td>
                    <td>{{itemAlumnos.first_name}}</td>
                    <td>{{itemAlumnos.last_name}}</td>
                    <td>{{itemAlumnos.email}}</td>
                    <th>
                      <a (click)="functionEdit(itemAlumnos.pk)" class="btn btn-primary">Editar</a>
                      <a (click)="functionDelete(itemAlumnos.pk)" class="btn btn-danger">Eliminar</a>
                      </th>   
                  </tr>

                </tbody>
              </table>
      </div>

      <div class="bs-docs-section" *ngIf="activateSave">
        <form [formGroup]="userForm" (submit)="saveUser()">
                <label for="name">Name</label>
                <input formControlName="name" id="name" />
                <control-messages [control]="userForm.controls.name"></control-messages>

                <label for="email">Email</label>
                <input formControlName="email" id="email" />
                <control-messages [control]="userForm.controls.email"></control-messages>

                <label for="profile">Profile Description</label>
                <textarea formControlName="profile" id="profile"></textarea>
                <control-messages [control]="userForm.controls.profile"></control-messages>

                <button type="submit" [disabled]="!userForm.valid">Submit</button>
<!--                 <a (click)="functionCancel()" class="btn btn-default">Cancel</a>
                <a (click)="functionSave()" class="btn btn-primary">Submit</a> -->
              </form>

      </div>

  </article> <!-- /article -->
</section> <!-- / #main-content -->

<div  *ngIf="activateLoading" class="loading">Loading</div>